<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue-index</title>
</head>
<body>
	<div id="app">
		<p>{{message}}</p>
	</div>
	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此动态绑定的提示信息
		</span>
	</div>
	<div id="app-3">
		<p v-if="seen">现在你看到我了</p>
		<p v-show="haha">静静的</p>
	</div>
	<div id="app-4">
		<ol>
		<!-- <li v-for="(todo, index) in todos">  -->
		<li v-for="(todo, index) of todos"> 
				{{index}}--{{ todo.text }}
			</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="reverseMessage">逆转消息</button>
	</div>
	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>
	<div id="app-7">
		<ol>
			<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
		</ol>
		<ul>
			<li v-for="(value, key) in object">
				{{ key }}--{{ value }}
			</li>
		</ul>
		<span v-for="n in even(numbers)">{{n}}</span>
	</div>
	<div id="example">
		<p>Original message: "{{ message }} haha {{ now }}"</p>
		<p>Computed reversed message: "{{ reversedMessage() }}"</p>
	</div>
	<div id="demo">{{ fullName }}</div>
	<div v-if="Math.random() > 0.5">Now you see me</div><div v-else>Now you don't</div>
	<script src="../js/vue.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				message: 'Hello Vue.js!'
			}
		});
		var app2 = new Vue({
			el: '#app-2',
			data: {
				message: '页面加载于' + new Date()
			}
		});
		var app3 = new Vue({
			el: '#app-3',
			data: {
				seen: true,
				haha: false
			}
		});
		var app4 = new Vue({
			el: "#app-4",
			data: {
				todos: [
					{ text: '学习Javascript'},
					{ text: '学习Vue'},
					{ text: '学习牛项目'}
				]
			}
		});
		var app5 = new Vue({
			el: '#app-5',
			data: {
				message: 'Hello Vue.js!'
			},
			methods: {
				reverseMessage: function() {
					this.message = this.message.split('').reverse().join('')
				}
			}
		});
		var app6 = new Vue({
			el: '#app-6',
			data: {
				message: 'Hello Vue!'
			}
		});
		Vue.component('todo-item', {
			props: ['todo'],
			template: '<li>{{ todo.text }}</li>'
		})
		var app7 = new Vue({
			el: '#app-7',
			data: {
				groceryList: [
					{ text: '蔬菜'},
					{ text: '奶酪'},
					{ text: '随便其他什么人吃的东西'}
				],
				object: {
					'firstname': "shen",
					'lastname': "xiaoqing",
					'age': 21
				},
				numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9]
			},
			methods: {
				even: function (numbers) {
					return numbers.filter(function(number) {
						return number % 2 === 0
					})
				}
			}
		});
		var vm = new Vue({
			el: "#example",
			data: {
				message: 'Hello'
			},
			computed: {
				reversedMessage: function() {
					return this.message.split('').reverse().join('')
				},
				now: function() {
					return Date.now()
				}
			},
			methods: {
				reversedMessage: function() {
					return this.message.split('').reverse().join('')
				}
			}
		});
		var demo = new Vue({
			el: '#demo',
			data: {
				firstName: 'Foo',
				lastName: 'Bar',
				fullName: 'Foo Bar'
			},
			// watch: {
			// 	firstName: function (val) {
			// 		this.fullName = val + ' ' + this.lastName
			// 	},
			// 	lastName: function (val) {
			// 		this.fullName = this.firstName + ' ' + val
			// 	}
			// }
			computed: {
				// fullName : function () {
				// 	return this.firstName + ' ' + this.lastName
				// }
				fullName: {
				    // getter
				    get: function () {
				      return this.firstName + ' ' + this.lastName
				    },
				    // setter
				    set: function (newValue) {
				      var names = newValue.split(' ')
				      this.firstName = names[0]
				      this.lastName = names[names.length - 1]
				    }
				}
			}
		});
	</script>
</body>
</html>